<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="max-age=7200"/>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
	<title>homepage</title>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/home.css"/>
	<link rel="stylesheet" type="text/css" href="css/dark.css"/>
	<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="../data/text.js"></script>
	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/globalapi.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
</head>

<body onLoad="OnInit()">
	<div class="LeftBoard">
		<div menu="UserGuide" class="GuideBtn" onClick="GotoMenu('UserGuide')">
			<div class="Logo"><img src="img/logo.png"/></div>
			<div class="trans" tid="t1"></div>
		</div>
		<ul class="accordion">
			<li>
				<input type="radio" name="GuideMenu" id="GuideMenu1"/>
				<label for="GuideMenu1">
					<a class="trans" tid="t7"></a>
					<i class="fa fa-caret-right"></i>
				</label>
				<ol>
					<li menu="FirstPrint" class="MenuBtn" onClick="GotoMenu('FirstPrint')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t2"></div>
					</li>
					<li menu="AddSupport" class="MenuBtn" onClick="GotoMenu('AddSupport')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t3"></div>
					</li>
					<li menu="WifiSend" class="MenuBtn" onClick="GotoMenu('WifiSend')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t5"></div>
					</li>
					<li menu="ConnectDevice" class="MenuBtn" onClick="GotoMenu('ConnectDevice')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t4"></div>
					</li>
					<li menu="AddText" class="MenuBtn" onClick="GotoMenu('AddText')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t11"></div>
					</li>
					<li menu="CutModel" class="MenuBtn" onClick="GotoMenu('CutModel')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t12"></div>
					</li>
					<li menu="AdaptiveMeshing" class="MenuBtn" onClick="GotoMenu('AdaptiveMeshing')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t14"></div>
					</li>
					<li menu="ExcludeObjects" class="MenuBtn" onClick="GotoMenu('ExcludeObjects')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t18"></div>
					</li>
					<li menu="ModelDownload" class="MenuBtn" onClick="GotoMenu('ModelDownload')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t13"></div>
					</li>
				</ol>
			</li>

			<li>
				<input type="radio" name="GuideMenu" id="GuideMenu2"/>
				<label for="GuideMenu2">
					<a class="trans" tid="t16"></a>
					<i class="fa fa-caret-right"></i>
				</label>
				<ol>
					<li menu="Flowrate" class="MenuBtn" onClick="GotoMenu('Flowrate')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t15"></div>
					</li>
					<li menu="PressureAdvance" class="MenuBtn" onClick="GotoMenu('PressureAdvance')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t17"></div>
					</li>
				</ol>
			</li>

			<li>
				<input type="radio" name="GuideMenu" id="GuideMenu3"/>
				<label for="GuideMenu3">
					<a class="trans" tid="t8"></a>
					<i class="fa fa-caret-right"></i>
				</label>
				<ol>
					<li menu="X-MAX 3" class="MenuBtn" onClick="GotoMenu('X-MAX 3')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div>X-MAX 3</div>
					</li>
					<li menu="X-Plus 3" class="MenuBtn" onClick="GotoMenu('X-Plus 3')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div>X-Plus 3</div>
					</li>
					<li menu="X-smart 3" class="MenuBtn" onClick="GotoMenu('X-smart 3')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div>X-Smart 3</div>
					</li>
					<li menu="Filaments" class="MenuBtn" onClick="GotoMenu('Filaments')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t10"></div>
					</li>
				</ol>
			</li>

			<li>
				<input type="radio" name="GuideMenu" id="GuideMenu4"/>
				<label for="GuideMenu4">
					<a class="trans" tid="t9"></a>
					<i class="fa fa-caret-right"></i>
				</label>
				<ol>
					<li menu="IssueReport" class="MenuBtn" onClick="GotoMenu('IssueReport')">
						<div class="MenuBtnIcon"><img src="img/MenuBtnIcon.svg"/></div>
						<div class="trans" tid="t6"></div>
					</li>
				</ol>
			</li>
		</ul>
	</div>

	<div class="RightBoard">
		<div class="GuideBoard" board="UserGuide">
			<div class="Thumbnail" onClick="GotoMenu('FirstPrint')">
				<div class="AutozoomImage"><img src="img/FirstPrint.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t2"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('AddSupport')">
				<div class="AutozoomImage"><img src="img/AddSupport.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t3"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('WifiSend')">
				<div class="AutozoomImage"><img src="img/WifiSend.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t5"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('ConnectDevice')">
				<div class="AutozoomImage"><img src="img/ConnectDevice.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t4"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('AddText')">
				<div class="AutozoomImage"><img src="img/AddText.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t11"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('CutModel')">
				<div class="AutozoomImage"><img src="img/CutModel.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t12"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('AdaptiveMeshing')">
				<div class="AutozoomImage"><img src="img/AdaptiveMeshingThumbnail.png"/></div>
				<div class="ThumbnailTitle trans" tid="t14"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('ExcludeObjects')">
				<div class="AutozoomImage"><img src="img/ExcludeObjects.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t18"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('ModelDownload')">
				<div class="AutozoomImage"><img src="img/DownloadModel.png"/></div>
				<div class="ThumbnailTitle trans" tid="t13"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('Flowrate')">
				<div class="AutozoomImage"><img src="img/FlowrateCoarse.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t15"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('PressureAdvance')">
				<div class="AutozoomImage"><img src="img/PressureAdvance.gif"/></div>
				<div class="ThumbnailTitle trans" tid="t17"></div>
			</div>
			<div class="Thumbnail" onClick="GotoMenu('IssueReport')">
				<div class="AutozoomImage"><img src="img/IssueReport.png"/></div>
				<div class="ThumbnailTitle trans" tid="t6"></div>
			</div>
		</div>

		<div class="ImageBoard" board="FirstPrint">
			<div class="IntroduceTitle trans" tid="t2"></div>
			<div class="AutozoomImage"><img src="img/FirstPrint.gif"/></div>
		</div>

		<div class="ImageBoard" board="AddSupport">
			<div class="IntroduceTitle trans" tid="t3"></div>
			<div class="AutozoomImage"><img src="img/AddSupport.gif"/></div>
		</div>

		<div class="ImageBoard" board="ConnectDevice">
			<div class="IntroduceTitle trans" tid="t5"></div>
			<div class="AutozoomImage"><img src="img/ConnectDevice.gif"/></div>
		</div>

		<div class="ImageBoard" board="WifiSend">
			<div class="IntroduceTitle trans" tid="t4"></div>
			<div class="AutozoomImage"><img src="img/WifiSend.gif"/></div>
		</div>

		<div class="ImageBoard" board="AddText">
			<div class="IntroduceTitle trans" tid="t11"></div>
			<div class="AutozoomImage"><img src="img/AddText.gif"/></div>
		</div>

		<div class="ImageBoard" board="CutModel">
			<div class="IntroduceTitle trans" tid="t12"></div>
			<div class="AutozoomImage"><img src="img/CutModel.gif"/></div>
		</div>

		<div class="IntroduceBoard" board="AdaptiveMeshing">
			<div class="IntroduceTitle trans" tid="t14"></div>
			<div class="IntroduceTextBold trans" tid="l5"></div>
			<div class="IntroduceText trans" tid="l7"></div>
			<div class="IntroduceText trans" tid="l8"></div>
			<div class="CenterImage"><img src="img/AdaptiveMeshing.png"/></div>
			<div class="IntroduceTextRed trans" tid="l10"></div>
			<div class="IntroduceTextGreen trans" tid="l11"></div>
			<div class="IntroduceTextBold trans" tid="l6"></div>
			<div class="IntroduceText trans" tid="l9"></div>
			<div class="CenterImage"><img src="img/DisableAM.png"/></div>
			<div class="IntroduceTextBold trans" tid="l0"></div>
			<div class="IntroduceText">https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging#key-features</div>
		</div>

		<div class="IntroduceBoard" board="ExcludeObjects">
			<div class="IntroduceTitle trans" tid="t18"></div>
			<div class="IntroduceText trans" tid="l42"></div>
			<div class="IntroduceText trans" tid="l43"></div>
			<div class="AutozoomImage"><img src="img/ExcludeObjects.gif"/></div>
		</div>

		<div class="IntroduceBoard" board="ModelDownload">
			<div class="IntroduceTitle trans" tid="t13"></div>
			<div class="IntroduceTextBold trans" tid="l1"></div>
			<div class="IntroduceText">https://makerworld.com</div>
			<div class="AutozoomImage"><img src="img/MakerWorld.png"/></div>
			<div class="IntroduceText">https://www.thingiverse.com</div>
			<div class="AutozoomImage"><img src="img/thingiverse.png"/></div>
			<div class="IntroduceText">https://www.printables.com/model</div>
			<div class="AutozoomImage"><img src="img/printables.png"/></div>
		</div>

		<div class="IntroduceBoard" board="Flowrate">
			<div class="IntroduceTitle trans" tid="t15"></div>
			<div class="IntroduceTextBold trans" tid="l12"></div>
			<div class="IntroduceText trans" tid="l13"></div>
			<div class="IntroduceText trans" tid="l14"></div>
			<div class="CenterImage"><img src="img/FlowrateValue.png"/></div>
			<div class="IntroduceText trans" tid="l15"></div>
			<div class="IntroduceText trans" tid="l16"></div>
			<div class="CenterImage"><img src="img/FlowrateCompare.png"/></div>
			<div class="IntroduceTextBold trans" tid="l17"></div>
			<div class="IntroduceText trans" tid="l18"></div>
			<div class="IntroduceText trans" tid="l19"></div>
			<div class="IntroduceText trans" tid="l20"></div>
			<div class="AutozoomImage"><img src="img/FlowrateCoarse.gif"/></div>
			<div class="IntroduceText trans" tid="l21"></div>
			<div class="CenterImage"><img src="img/FlowrateCoarse.png"/></div>
			<div class="IntroduceTextBold trans" tid="l22"></div>
			<div class="IntroduceText trans" tid="l23"></div>
			<div class="IntroduceText trans" tid="l20"></div>
			<div class="AutozoomImage"><img src="img/FlowrateFine.gif"/></div>
			<div class="IntroduceText trans" tid="l24"></div>
			<div class="CenterImage"><img src="img/FlowrateFine.png"/></div>
		</div>

		<div class="IntroduceBoard" board="PressureAdvance">
			<div class="IntroduceTitle trans" tid="t17"></div>
			<div class="IntroduceText trans" tid="l25"></div>
			<div class="CenterImage"><img src="img/PressureAdvanceCompare.png"/></div>
			<div class="IntroduceTextBold trans" tid="l26"></div>
			<div class="IntroduceText trans" tid="l27"></div>
			<div class="IntroduceText trans" tid="l28"></div>
			<div class="IntroduceText trans" tid="l29"></div>
			<div class="IntroduceText trans" tid="l41"></div>
			<div class="IntroduceTextBold trans" tid="l30"></div>
			<div class="IntroduceText trans" tid="l31"></div>
			<div class="IntroduceText trans" tid="l32"></div>
			<div class="AutozoomImage"><img src="img/PressureAdvance.gif"/></div>
			<div class="IntroduceText trans" tid="l33"></div>
			<div class="IntroduceText trans" tid="l34"></div>
			<div class="CenterImage"><img src="img/PressureAdvanceValue.png"/></div>
			<div class="IntroduceTextBold trans" tid="l35"></div>
			<div class="IntroduceText trans" tid="l36"></div>
			<div class="CenterImage"><img src="img/PressureAdvanceLine.png"/></div>
			<div class="IntroduceTextBold trans" tid="l37"></div>
			<div class="IntroduceText trans" tid="l38"></div>
			<div class="CenterImage"><img src="img/PressureAdvancePattern.png"/></div>
			<div class="IntroduceTextBold trans" tid="l39"></div>
			<div class="IntroduceText trans" tid="l40"></div>
			<div class="CenterImage"><img src="img/PressureAdvanceTower.png"/></div>
		</div>

		<div class="IntroduceBoard" board="X-MAX 3">
			<div class="AutozoomImage"><img src="img/X-MAX3Poster.png"/></div>
			<div class="IntroduceTextBold trans" tid="l0"></div>
			<div class="IntroduceText">https://qidi3d.com/products/qidi-x-max-3</div>
		</div>

		<div class="IntroduceBoard" board="X-Plus 3">
			<div class="AutozoomImage"><img src="img/X-Plus3Poster.png"/></div>
			<div class="IntroduceTextBold trans" tid="l0"></div>
			<div class="IntroduceText">https://qidi3d.com/products/qidi-x-plus-3</div>
		</div>

		<div class="IntroduceBoard" board="X-smart 3">
			<div class="AutozoomImage"><img src="img/X-smart3Poster.png"/></div>
			<div class="IntroduceTextBold trans" tid="l0"></div>
			<div class="IntroduceText">https://qidi3d.com/products/qidi-x-smart-3</div>
		</div>

		<div class="IntroduceBoard" board="Filaments">
			<div class="FilamentsTable">
				<table cellspacing="0">
					<thead>
						<tr>
							<th>Filament</th>
							<th>Drying box</th>
							<th>Anneal</th>
							<th>Water resistance</th>
							<th>Corrosion resistance</th>
							<th>Creep resistance</th>
							<th>HDT 0.45</th>
							<th>HDT 1.80</th>
							<th>Tensile strength(MPa)</th>
							<th>Tensile modulus(MPa)</th>
							<th>Elongation at break(%)</th>
							<th>Flexural strength(MPa)</th>
							<th>Flexural modulus(MPa)</th>
							<th>Notch impact strength(KJ/㎡)</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item, index) in 1" :key="index">
							<td>ABS Odorless</td>
							<td>≤30％</td>
							<td>/</td>
							<td>++</td>
							<td>+</td>
							<td>+++</td>
							<td>92℃</td>
							<td>86℃</td>
							<td>41.65 ± 0.27</td>
							<td>2351.00 ± 92.00</td>
							<td>7.95 ± 4.53</td>
							<td>67.81 ± 0.54</td>
							<td>2400.00 ± 79.69</td>
							<td>20.03 ± 1.32</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>ABS Rapido</td>
							<td>≤30％</td>
							<td>/</td>
							<td>++</td>
							<td>+</td>
							<td>+++</td>
							<td>85℃</td>
							<td>/</td>
							<td>41 ± 1</td>
							<td>3850 ± 150</td>
							<td>11 ± 1</td>
							<td>77.5 ± 2.5</td>
							<td>77.5 ± 2.5</td>
							<td>20 ± 2</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>ABS-GF25</td>
							<td>≤30％</td>
							<td>/</td>
							<td>+++</td>
							<td>+</td>
							<td>+++</td>
							<td>97℃</td>
							<td>93℃</td>
							<td>48.48 ± 0.61</td>
							<td>3752.13 ± 68.39</td>
							<td>2.10 ± 0.10</td>
							<td>78.80 ± 1.26</td>
							<td>3531.71 ± 75.79</td>
							<td>8.91 ± 0.63</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>ASA</td>
							<td>≤30％</td>
							<td>/</td>
							<td>+++</td>
							<td>+</td>
							<td>+++</td>
							<td>94℃</td>
							<td>86℃</td>
							<td>38.50 ± 1.60</td>
							<td>2317.00 ± 246.00</td>
							<td>5.20 ± 1.40</td>
							<td>64.49 ± 1.30</td>
							<td>2399.00 ± 147.00</td>
							<td>12.90 ± 0.90</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>ASA-Aero</td>
							<td>≤30％</td>
							<td>/</td>
							<td>++</td>
							<td>+</td>
							<td>++</td>
							<td>70℃</td>
							<td>55℃</td>
							<td>8.25 ± 0.15</td>
							<td>593.99 ± 24.34</td>
							<td>11.52 ± 0.58</td>
							<td>14.31 ± 1.66</td>
							<td>457.94 ± 20.84</td>
							<td>2.29 ± 0.13</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>PA12-CF</td>
							<td>≤15％</td>
							<td>80-100℃</td>
							<td>+</td>
							<td>++</td>
							<td>+</td>
							<td>149.6℃</td>
							<td>112.4℃</td>
							<td>87.49 ± 2.81</td>
							<td>5438.40 ± 282.82</td>
							<td>2.59 ± 0.19</td>
							<td>133.17 ± 4.66</td>
							<td>4667.43 ± 339.80</td>
							<td>6.11 ± 1.45</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>PAHT-CF</td>
							<td>≤15％</td>
							<td>80-100℃</td>
							<td>++</td>
							<td>+++</td>
							<td>+++</td>
							<td>192.3℃</td>
							<td>121.7℃</td>
							<td>104.90 ± 1.99</td>
							<td>8383.26 ± 419.53</td>
							<td>1.60 ± 0.07</td>
							<td>147.70 ± 4.09</td>
							<td>5969.35 ± 145.28</td>
							<td>6.17 ± 0.2</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>PC/ABS-FR</td>
							<td>≤15％</td>
							<td>/</td>
							<td>+++</td>
							<td>+</td>
							<td>+++</td>
							<td>88℃</td>
							<td>83℃</td>
							<td>52.51 ± 0.28</td>
							<td>2588.73 ± 64.81</td>
							<td>5.55 ± 0.99</td>
							<td>85.95 ± 0.83</td>
							<td>2504.55 ± 22.88</td>
							<td>8.39 ± 0.46</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>PET-CF</td>
							<td>≤15％</td>
							<td>80-100℃</td>
							<td>+++</td>
							<td>+++</td>
							<td>+++</td>
							<td>148.8℃</td>
							<td>112.1℃</td>
							<td>87.41 ± 3.57</td>
							<td>6025.53 ± 355.46</td>
							<td>1.99 ±0.18</td>
							<td>122.69 ± 5.19</td>
							<td>5313.21 ± 197.89</td>
							<td>5.57 ± 0.58</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>PETG-Tough</td>
							<td>≤20％</td>
							<td>/</td>
							<td>+++</td>
							<td>++</td>
							<td>+++</td>
							<td>78℃</td>
							<td>73℃</td>
							<td>40.3±0.6</td>
							<td>1780±80</td>
							<td>4.0±0.2</td>
							<td>62.8±0.4</td>
							<td>1919±54</td>
							<td>13.9±2.3</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>PLA Rapido</td>
							<td>≤30％</td>
							<td>/</td>
							<td>+</td>
							<td>+</td>
							<td>+</td>
							<td>57℃</td>
							<td>/</td>
							<td>39 ± 3</td>
							<td>4650 ± 150</td>
							<td>12.5 ± 2.5</td>
							<td>72.5 ± 2.5</td>
							<td>2850 ± 150</td>
							<td>6 ± 2</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>PLA Rapido Matte</td>
							<td>≤30％</td>
							<td>/</td>
							<td>+</td>
							<td>+</td>
							<td>+</td>
							<td>58℃</td>
							<td>/</td>
							<td>39 ± 3</td>
							<td>2400 ± 200</td>
							<td>3 ± 1</td>
							<td>77.5 ± 2.5</td>
							<td>2200 ± 200</td>
							<td>7.5 ± 1.5</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>S-White</td>
							<td>≤15％</td>
							<td>80-100℃</td>
							<td>++</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
						</tr>
						<tr v-for="(item, index) in 1" :key="index">
							<td>UltraPA</td>
							<td>≤15％</td>
							<td>/</td>
							<td>++</td>
							<td>++</td>
							<td>++</td>
							<td>77.8℃</td>
							<td>73.1℃</td>
							<td>86.15 ± 0.56</td>
							<td>3609.22 ± 153.31</td>
							<td>11.68 ± 3.36</td>
							<td>121.47 ± 3.14</td>
							<td>3314.03 ±181.88</td>
							<td>5.78 ± 0.30</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="IntroduceTextBold trans" tid="l0"></div>
			<div class="IntroduceText">https://qidi3d.com/collections/filaments</div>
		</div>

		<div class="IssueBoard" board="IssueReport">
			<div class="IntroduceTitle trans" tid="t6"></div>
			<div class="IntroduceText trans" tid="l2"></div>
			<div class="IntroduceText trans" tid="l3"></div>
			<div class="EmailBlock">
				<div class="PrinterBlock">
					<div class="CenterImage"><img src="img/X-MAX 3.png"/></div>
					<div class="ThumbnailTitle">X-MAX 3</div>
					<div class="IntroduceText">
						<b>E-mail:</b><br/>MAX3support@qd3dprinter.com<br>MAX3AMS@qd3dprinter.com<br/><br>
						<b>Skype:</b><br/>MAX3support@qd3dprinter.com
					</div>
				</div>
				<div class="PrinterBlock">
					<div class="CenterImage"><img src="img/X-Plus 3.png"/></div>
					<div class="ThumbnailTitle">X-Plus 3</div>
					<div class="IntroduceText">
						<b>E-mail:</b><br/>Plus3support01@qd3dprinter.com<br>Plus3support02@qd3dprinter.com<br/><br>
						<b>Skype:</b><br/>Plus3support@qd3dprinter.com
					</div>
				</div>
				<div class="PrinterBlock">
					<div class="CenterImage"><img src="img/X-smart 3.png"/></div>
					<div class="ThumbnailTitle">X-smart 3</div>
					<div class="IntroduceText">
						<b>E-mail:</b><br/>Smart3support@qd3dprinter.com<br>Smart3AMS@qd3dprinter.com<br/><br>
						<b>Skype:</b><br/>Smart3support@qd3dprinter.com
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>